
.currency-btc-value {
    padding: 8px;
    background-color: red;
    font-size: 1.2rem;
    font-weight: 500;
    color: yellow;
    width: 190px;
    text-align: start;
}

.currency-lsk-eth-value {
    padding: 8px;
    background-color: red;
    font-size: 1.2rem;
    font-weight: 500;
    color:black;
    width: 190px;
    text-align: start;
}
.currency {
    color: black;
    padding-right: 10px;
}
